# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/arc

# Environment Variables
.env

# Database data
sys-helper/mongo-data/

# Logs
*.log
